.App {
  padding-top: 20px;
  width: 400px;
  margin: auto;
  text-align: center;
}
img {
  display: block;
  width: 60px;
  height: 60px;
  margin: auto;
}
img:hover {
  transform: rotate(360deg);
}
.App ul {
  padding: 0;
  margin: 0;
}
.App ul:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.App ul:nth-child(1) input {
  width: 350px;
}
.App ul:nth-child(1) button {
  width: 45px;
  margin-left: 5px;
}
.App ul:nth-child(2) {
  margin-top: 20px;
}
.App ul:nth-child(2) li {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.App ul li {
  list-style: none;
  text-align: left;
}
